/* 오늘의 쇼핑 제안 */

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  width: 1022px;
  margin: 0 auto;
}

header a {
  position: relative;
  display: inline-block;
  width: 100%;
}

header img {
  width: 176px;
  height: 40px;
}

/* section */

section h2 {
  position: relative;
  width: 1022px;
  margin: 0 auto;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-black);
}

section h2 .titleImg {
  display: inline-block;
  background-image: url('../../assets/icon/shopping.svg');
  width: 30px;
  height: 30px;
}

/* article */

article {
  position: relative;
  width: 1022px;
  top: 24px;
  margin: 0 auto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

article .product {
  width: 200px;
  height: 270px;
}

article .product .discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 30px;
  background-color: var(--color-red-500);
  color: var(--color-white);
  border-radius: 0px 0px 4px 0px;
  font-size: 16px;
  font-weight: 600;
}
